:root {
    /* primary colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    min-height: 100dvh;

    font-family: "Manrope", sans-serif;

    background-color: var(--dark-blue);
    color: var(--light-cyan);
}

.container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    max-width: 32rem;
    width: 100%;
    
    border-radius: 15px;

    text-align: center;
    
    background-color: var(--dark-grayish-blue);
}

.advice-id {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    color: var(--neon-green);
}

.advice {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.divider {
    margin-bottom: 2rem;
}

.divider img {
    max-width: 100%;
}

.generate-btn {
    position: absolute;
    bottom: -1.6rem;
    z-index: 1;

    padding: 1.2rem;
    border: none;
    border-radius: 50%;

    background-color: var(--neon-green);

    transition: box-shadow .3s ease revert;

    aspect-ratio: 1;
    cursor: pointer;
}

.generate-btn:hover,
.generate-btn:active {
    -webkit-box-shadow: 0px 0px 25px 0px var(--neon-green);
    -moz-box-shadow: 0px 0px 25px 0px var(--neon-green);
    box-shadow: 0px 0px 25px 0px var(--neon-green);
}

.generate-btn img {
    display: block;
    margin: 0 auto;
}


/* responsive design */

/* mobile */
@media (max-width: 400px) {
    body {
        padding: 0 1rem;
    }
    .container {
        max-width: 100%;
    }
}